body {
    font-family: 'Nunito', sans-serif;
}

#overlay {
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgb(230, 230, 230);
}

.alerts {
    z-index:999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
  
#btnSettings {
    margin: 4px;
}

#calendarNavigation {
    margin-top: 5px;
}

.site-footer {
    font-size: 0.9em;
    height: 30px;
}

.footerContent{
    margin-top: 17px;
}

.site-footer .fa-heart {
    font-size: 0.8em;
    margin-left: 1px;
    margin-right: 2px;
}

.site-footer .fa-github-alt {
    color: grey;
    font-size: 1.2em;
}